a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}
img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
strong {
    font-weight: bold;
    font-family: bb;
}

.-lv1 {
    @include text(100px, b, 100px, $white-cl, none);
    font-weight: normal;
    margin: 0;
    a {
        @include text(100px, g, 100px, $white-cl, none);
    }
    @include tablet {
    }
    @include mobile {
    }
}
.main-btn{
        background-color: $blue-cl;
        @include text(16px, SA,46px, white, uppercase);
        font-weight: 400;
        display: inline-block;
        border-radius: 100px;
        margin-top: 40px;
        text-align: center;
        height: 46px;
        padding: 0 36px;
        width: 170px;
    
}
.blue{
    color: $blue-cl;
}

