header {
  position: relative;
  z-index: 101;
  position: fixed;
  width: 100%;
  .header-wrap {
    
    border-bottom: 1px solid #cecece;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    background-color: $main-bg-cl;
    .menu {
      padding-left: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      width: 10%;
      border-right: 1px solid #cecece;
      cursor: pointer;
      .hamburger {
        width: 30px;
        > div {
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: $black-cl;
          transition: 0.4s;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black-cl;
            top: 7px;
            left: 0;
            transition: 0.4s;
          }
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black-cl;
            top: -7px;
            left: 0;
            transition: 0.4s;
          }
        }
        &.active {
          > div {
            transform: rotate(135deg);
            transition: 0.4s;
            &::after {
              transition: 0.4s;
              transform: rotate(90deg);
              top: 0;
            }
            &::before {
              transition: 0.4s;
              transform: rotate(90deg);
              top: 0;
            }
          }
        }
      }
      > span {
        padding-left: 10px;
        width: 50%;
        display: block;
        @include text(16px, SA, normal, black, uppercase);
      }
      &:hover {
        background-color: #cecece;
        transition: all 0.4s;
        opacity: 0.8;
      }
    }
    &.active{
      display: none;
    }
  }
  .logo {
    height: 100%;
    @include mid;
    a {
      height: 100%;
      i {
        img {
          object-fit: contain;
        }
      }
    }
  }
  .menu-left{
    transition: all 0.7s ease-in-out;
    transform: translate(-100%,0);
    position: absolute;
    z-index: 1001;
    width: 320px;
    height: 100vh;
    background-color: $main-bg-cl;
    max-width: 100%;
    >nav{
      width: 100%;
        ul,li,a{
            width: 100%;
            // opacity: 0.8;
        }
        a{
          border-top: 1px solid #cecece;
          border-bottom: 1px solid #cecece;
            padding: 20px 20px;
            @include text(16px,"SA-B",30px,black, uppercase);
            letter-spacing: 0.25;   
            &:hover{
              background-color: rgba($color: #000000, $alpha: 0.5);
                transition: .4s;
            }
            
        }
    }
    &.active{
        transform: translate(0px, 0px);
    }
    @include mobile{
        width: 100%;
        height: 100%;
        z-index: 100000;
        top: 50px;
        padding: 10px;
        .top{
            justify-content: left;
            .brand{
                display: none;
            }
        }
        .bot{
            margin-top: 10px;
            display: block;
            .left{
                display: none;
            }
            .right{
                width: initial;
                ul{
                    li{
                        a{
                            font-size: 18px;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
        
    }
    
}
  

  // @include desktop {

  // }
  // @include tablet {

  // }
  // @include mobile {

  // }
  // @include mobile-xxs {

  // }
}
