.user-detail {
  background-color: $main-bg-cl;
  .user-infor {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      display: initial;
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
  .user-course {
    .wrapper {
      display: flex;
      justify-content: center;
      .tabs {
        width: calc(100% - 800px );
        #tabs__ul {
          width: 380px;
          height: 10%;
            @include text(16px, SA-B, 22px, $black-cl, uppercase);
          li {
            border: 1px solid $gray-cl;
          }
        }
      }
      .content{
        width: calc(100% - 380px );
      }
    }
  }
}
